@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display-uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html{
    font-size: 150%;
}

body{
    width: 100%;
    height: 150px;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 0px;
    position: relative;
    top: 5px;
    left: 50px;
    width: 90%;
    padding: 30px;
    background-color: rgb(19, 94, 65);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


.logo{
    font-size: 40px;
    color: white;
    font-weight: 750;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

nav a{
    font-size: 30px;
    color: white;
    margin-left: 50px;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: solid transparent;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover,
nav a.active{
    color: rgb(22, 11, 11);
    transition: 0.5s ease;
    font-weight: 700;
    transform: scale(1.1);
    text-decoration: underline;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    margin-left: 5%;
}

.home .home-content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin-left: 0%;
    margin-right: 5%;
}

span{
    color: rgb(19, 94, 65);
}

.home-content p{
    font-size: 25px;
    font-weight: 350;
    margin-left: 0%;
    margin-right: 10%;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: center;
    width: 70%;
    border-radius: 10%;
    box-shadow: 10px solid rgb(19, 94, 65);
    margin-left: 20%;
    margin-top: 7%;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
